@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-1: hsl(240, 100%, 99%); /*used in texts, icons and bg of buttons in light theme*/
  --dark-1: hsl(240, 100%, 1%); /*used in texts and icons*/

    /*layout background 1*/
  --light-2: hsl(240, 60%, 98%);
  --dark-2: hsl(240, 20%, 12%);

  /*layout background 2*/
  --light-3: hsl(240, 50%, 97%);
  --dark-3: hsl(240, 20.5%, 12%);

  /*grid colors*/
  --light-4: hsl(240, 40%, 93%);
  --dark-4: hsl(240, 24%, 15.5%);
  
  /*layout background 3*/
  --light-5: hsl(240, 30%, 90%);
  --dark-5: hsl(240, 24%, 18%);

  /*layout background 4*/
  --light-6: hsl(240, 20%, 86%);
  --dark-6: hsl(240, 26%, 22%);

  /*layout background 5*/
  --light-7: hsl(240, 10%, 82%);
  --dark-7: hsl(240, 24%, 24%);

  /*line colors*/
  --light-8: hsl(240, 5%, 78%);
  --dark-8: hsl(240, 24%, 24%);

  /*used in some buttons and texts*/
  --rose-1: hsl(338, 80%, 50%);
  --rose-2: hsl(338, 80%, 53%);
  --rose-3: hsl(342, 90%, 50%);
  --rose-4: hsl(342, 90%, 53%);

  --green-1: hsl(142, 76%, 36%);
  --red-1: hsl(0, 72%, 51%);
}


@layer components {
  /*gradients*/

  .grad-text-rose {
    background: linear-gradient(to bottom, var(--rose-1), var(--rose-3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .grad-button-rose{
    background: linear-gradient(to bottom, var(--rose-1), var(--rose-3));
  }
  .grad-button-rose-active{
    background: linear-gradient(to bottom, var(--rose-2), var(--rose-4));
  }

  .btn-outline {
    @apply hover:outline hover:outline-2 hover:outline-dark-1 hover:dark:outline-light-5;
  }
  
}

