@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-1: #fcfbfe;
  --light-2: #F6F4FC;
  --light-3: #F3F0FC;
  --light-4: #EBE8F5;
  --light-5: #E2DFF0;
  --light-6: #D6D3E5;
  --light-7: #C9C5DB;
  --light-8: #B5AFCC;

  --dark-1: #0d0c12;
  --dark-2: #1B1A27;
  --dark-3: #1D1B29;
  --dark-4: #1F1D2E;
  --dark-5: #262338;
  --dark-6: #2B2640;
  --dark-7: #2D2942;
  --dark-8: #342F4C;

  --rose-1: #ff0f70;
  --rose-2: #ff0860;
  --rose-3: #ff0050;

  --green-1: #16a34a;
  --red-1: #dc2626;
}

.gradient-text-rose {
  background: linear-gradient(to bottom, var(--rose-2), var(--rose-3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}