@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-1: #fcfbfe;
  --white-2: #F6F4FC;
  --white-3: #F3F0FC;
  --white-4: #EBE8F5;
  --white-5: #E2DFF0;
  --white-6: #D6D3E5;
  --white-7: #C9C5DB;
  --white-8: #B5AFCC;

  --dark-1: #0d0c12;
  --dark-2: #1B1A27;
  --dark-3: #1D1B29;
  --dark-4: #1F1D2E;
  --dark-5: #262338;
  --dark-6: #2B2640;
  --dark-7: #2D2942;
  --dark-8: #342F4C;

  --rose-1: #ff0f70;
  --rose-2: #ff0860;
  --rose-3: #ff0050;

  --green-1: #16a34a;
  --red-1: #dc2626;
}